body, head {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 0 20px;
}
input{
    padding: 6px;
    border-radius: 4px;
}
h1 {
    font-size: 25px;
}